:root {
  /* Colors */
  --primary-white-color: #fef5ed;
  --primary-red-color: #b61a1a;
  --primary-black-color: #313334;
  --button-highlight-color: #c74d4d;
  /* Fonts */
  --title-font: Sahitya, serif;
  --header-font: Oswald, sans-serif;
  --primary-font: Taviraj, serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./Red\ Roses.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/****************** The following is the styling of the header section *********************/
header {
  text-align: center;
  margin-top: 30px;
}

span {
  color: var(--primary-white-color);
  font-size: 18px;
}

#title {
  color: var(--primary-white-color);
  font-family: var(--title-font);
  font-size: 40px;
  padding-bottom: 10px;
}

#description {
  color: var(--primary-white-color);
  font-family: var(--title-font);
  font-size: 20px;
  font-weight: 400;
}

/*************** The following is the styling of the survey form ***********************/

#survey-form {
  background-color: var(--primary-black-color);
  border: none;
  border-radius: 5px;
  max-width: 650px;
  margin: 40px auto;
  padding: 30px;
}

.form-headers {
  color: var(--primary-red-color);
  font-family: var(--header-font);
  font-size: 23px;
}

.form-group {
  padding: 10px 20px 10px 20px;
}

.form-box {
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 8px;
  width: 100%;
  border: solid 2px var(--primary-white-color);
  border-radius: 5px;
  font-family: var(--primary-font);
  font-size: 15px;
}

/* The following styling is for the actual radio button that 
will be clicked on, and the option next to the button: */
.radio-button {
  width: 15px;
  height: 15px;
}

.radioButton-value {
  color: var(--primary-white-color);
  font-family: var(--primary-font);
  font-size: 18px;
  padding-left: 8px;
}

/* The following styling is for the actual checkbox button that 
will be clicked on, and the option next to the button: */
.checkbox-button {
  width: 15px;
  height: 15px;
}

.checkboxButton-value {
  color: var(--primary-white-color);
  font-family: var(--primary-font);
  font-size: 18px;
  padding-left: 8px;
}

/* Styling for the comments box */
textarea {
  font-size: 16px;
  font-family: var(--primary-font);
  color: var(--primary-black-color);
}

#addComments {
  max-width: 100%;
}

/* Styling for the form box submit button */
#submit {
  border: none;
  font-size: 20px;
  color: var(--primary-white-color);
  background-color: var(--primary-red-color);
}

#submit:hover {
  background-color: var(--button-highlight-color);
  transition: 200ms;
  cursor: pointer;
}
